################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommSdk
/src/CommSdk/bin
/src/CommSdk/obj
/src/CommSdk.Samples/bin
/src/CommSdk.Samples/obj/Debug/net48
/src/CommSdk.Samples/obj/Release/net48
/src/CommSdk.Samples/obj
/tests/CommSdk.Tests/bin
/tests/CommSdk.Tests/obj
/.vs
